<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Reset Password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap&family=Abril+Fatface&display=swap" rel="stylesheet">

        
        <link rel="stylesheet" href="/userAuthPages.css">
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/login.css">

    </head>
    <body class="body">

        <div class="top-bar">
            <header>
              <h1>Borgin and Burkes</h1>
            </header>
            
            <nav>
      
                <div class="nav-links">
                    
                    <a href="/">
                        <i class="fa-solid fa-house" style="color: #000000;"></i>
                        Home
                    </a>
        
                    <a href="/">
                        <i class="fa-solid fa-boxes-stacked" style="color: #000000;"></i>
                        Products
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle-info" style="color: #000000;"></i>
                        About Us
        
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-envelope " style="color: #000000;"></i>
                        Contact
                    </a>
                </div>
            </nav>  
        </div>    


        <div class="content login-box ">  

            <h1 class="heading centre-align">Reset Password  </h1> 
            <p class="centre-align"> Enter the otp received in the mail</p>

            <form class="centre-align" action="/user/reset-password/verify-otp" method="POST">
                <div class="form-components">
                    <i class="fa-solid fa-user" style="color: #ffffff; font-size: 1.5rem;"></i>
                    <label for="otp">Otp:</label>
                    <input type="text" name="otp">                    
                </div>


                <% if (messages.error) { %>
                    <div class="message"> <%= messages.error %> </div>
                <% } %>
                
                <input type="hidden" name="username" value= "<%= username %>" >

                <button class="submit-btn login-btn" type="submit">Reset</button>
            </form>

        </div>


    </body>
</html>